[submodule "/Users/raguay/Dropbox (Personal)/Richard/rag/JavaScript/svelte/SvelteCustomCT/launch"]
	path = /Users/raguay/Dropbox (Personal)/Richard/rag/JavaScript/svelte/SvelteCustomCT/launch
	url = https://github.com/raguay/raguay.github.io
